.btn-outline-success{

    background-color: rgb(255, 137, 137);
    
    color: white;
    
    }
    
    .btn-outline-success:hover,
    
    .btn-outline-success:focus,
    
    .btn-outline-success:visited{
    
    background-color: rgb(247, 64, 64);
    
    color: white;
    
    }