@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:wght@300&display=swap');
.btn-outline-success{
    background-color: rgb(255, 132, 132);
    color: white;
    border-color: rgb(255, 132, 132);
    }
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:visited{
    background-color: rgb(255, 64, 64);
    color: white;
    border-color: rgb(255, 64, 64);
}
    

.icons {
	width: 40px;
}
a,a:visited, a:focus,a:hover{
  text-decoration: none;
  color: black;
  accent-color: black;
}
.nav-link{
  color:black;
}
.nav-link:hover{
  color:rgb(255, 132, 132);
  text-decoration-color:rgb(255, 132, 132) ;
}
.navbar-collapse{
  text-align: right;
}
.navbar-nav .nav-item{
  font-size: 1.3em;
}
.dropdown-item:active{
background-color: rgb(255, 132, 132);
}
@media(min-width:992px){
  .icons{
    width:30px;
  }
}
#nav-text{
    font-size: 2.5em;
    font-family: 'Parisienne', cursive;
  vertical-align:bottom;
    
}
[data-objectId]:hover {
  color: rgb(255, 64, 64);
  cursor: pointer;
}
.list-group-item.active:hover {
  background-color: rgb(255, 132, 132) !important;
  border-color: rgb(255, 132, 132) !important;
}
.list-group-item.active,
.list-group-item.active:hover {
  background-color: rgb(255, 132, 132) !important;
  border-color: rgb(255, 132, 132) !important;
}
.card{
  width:18rem;
  margin:5px;
}

.pass_warning{
  color: red;
}
*{
    font-family: 'Raleway', sans-serif;
}

